name: Continuous Integration Test

on:
  push:
    branches: [main, staging, develop]

  pull_request:
    branches: [main, staging, develop]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - run: yarn lint
      - run: yarn test
# This takes to long time
# e2e-test-ios:
#   runs-on: macOS-latest
#   steps:
#     - name: Cancel Previous Runs
#       uses: styfle/cancel-workflow-action@0.10.0
#       with:
#         access_token: ${{ github.token }}

#     - name: Check out Git repository
#       uses: actions/checkout@v3

#     - name: Setup Node.js environment
#       uses: actions/setup-node@v3.4.1
#       with:
#         node-version: 16
#         cache: 'yarn'

#     - name: Install dependencies
#       run: yarn install --frozen-lockfile

#     - name: Rebuild detox
#       if: steps.cache.outputs.cache-hit == 'true'
#       run: yarn detox clean-framework-cache && detox build-framework-cache

#     - name: Cache Pods
#       uses: actions/cache@v3.0.0
#       id: podcache
#       with:
#         path: ios/Pods
#         key: pods-${{ hashFiles('**/Podfile.lock') }}

#     - name: Update Pods
#       run: |
#         gem update cocoapods xcodeproj
#         cd ios && pod install && cd ..
#     - run: brew tap wix/brew
#     - run: brew install applesimutils
#     - run: yarn detox-build-ios-release
#     - run: yarn detox test -c ios.release --cleanup
