name: IOS Build

on:
  push:
    branches:
      - main

  release:
    types: [published]

jobs:
  ios-build:
    name: IOS Build
    runs-on: macOS-latest
    env:
      DEV_API_URL: ${{ secrets.DEV_API_URL }}
    defaults:
      run:
        working-directory: ios

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Restore buildcache
        uses: mikehardy/buildcache-action@v1
        continue-on-error: true

      - name: Setup Ruby (bundle)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.5
          bundler-cache: true

      - name: Restore Pods cache
        uses: actions/cache@v3.0.8
        with:
          path: |
            ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Pods
        run: pod install --repo-update

      - name: Build IOS App
        run: xcodebuild -workspace RNB.xcworkspace -scheme RNBDev build CODE_SIGNING_ALLOWED=NO

      # - name: Build IOS App
      #   uses: yukiarrr/ios-build-action@v1.4.0
      #   with:
      #     project-path: ios/Gakko.xcodeproj
      #     p12-base64: ${{ secrets.IOS_P12_BASE64 }}
      #     mobileprovision-base64: ${{ secrets.IOS_MOBILE_PROVISION_BASE64 }}
      #     code-signing-identity: "iPhone Distribution"
      #     team-id: ${{ secrets.IOS_TEAM_ID }}
      #     certificate-password: ${{ secrets.IOS_CERTIFICATE_PASSWORD }}
      #     workspace-path: ios/Gakko.xcworkspace

      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: Gakko IOS IPA
      #     path: "output.ipa"

      # - name: "Upload app to TestFlight"
      #   uses: apple-actions/upload-testflight-build@v1
      #   with:
      #     app-path: "output.ipa"
      #     issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
      #     api-key-id: ${{ secrets.APPSTORE_API_KEY_ID }}
      #     api-private-key: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
